*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    color: white;
    background-color: grey;
    padding: 5px;
    margin: 5px;
}

h1{
    font-size: 2em;
}

nav {
    float: left;
    width: 20%;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-bottom: 5px;
}

nav ul li a {
    display: block;
    background-color: grey;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: white;
    color: red;
    border: 2px solid black;
}

section {
    float: left;
    width: 80%;
    padding: 20px 40px;
    border-left: 2px solid black;
}

section h2 {
    margin-bottom: 15px;
    font-weight: bold;
}

section p {
    margin-bottom: 15px;
    text-align: justify;
}

footer {
    clear: both;
    background-color: grey;
    color: white;
    padding: 5px;
}